@font-face{
    font-family: DonatelloFuenteCustom;
    src: url(../fonts/Donatello.ttf);
}

*{
    font-family:DonatelloFuenteCustom;
}

body{
    /*background-image: url("../img/people_cooking.jpeg");*/
    background-size: cover;
    text-align: center;
}

h2{
    margin-top: 3%;
    font-size: 55px;
    color: #E9967A;
    text-decoration: underline;
}

form{
    background-image: url("../img/cooking.png");
    background-size: contain;
    opacity: 0.8;
    margin: auto;
    width: 25rem;
    border-radius: 10px;
    border: solid #00FF7F 4px;
    transition: color 500ms, transform 500ms; /*para transición*/
}

form:hover{
    opacity: 0.6;
    transform: scale(1.09,1.09); /*para transición*/
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
}

input, textarea{
    border-radius: 6px;
    font-size: 14px;
    font-size: 18px;
    color: #E9967A;
    width: 20rem;
}

input:focus, textarea:focus{
    border: solid #00FF7F 2px;
}

input:hover, textarea:hover{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(90, 89, 89);
}

::placeholder{
    color: orangered;
}

button{
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: solid #00FF7F;
    color: greenyellow;
    background-color: black;
}
