@font-face {
    font-family: DonatelloFuenteCustom;
    src: url(../fonts/Donatello.ttf);
}

body{
    background-image: url("../img/people_cooking.jpeg");
    background-size: cover;
    font-family: DonatelloFuenteCustom;
    color: #E9967A;
    text-align: center;
    align-items: center;
}

h2{
    margin-top: 3%;
    font-size: 55px;
    text-decoration: underline;
}

table{
    margin-top: 8%;
    display: inline-block;
    background-image: url("../img/cooking.png");
    background-size: contain;
    opacity: 0.8;
    border: solid #00FF7F 4px;
    border-radius: 10px;
    border-spacing: 8px;
    transition: color 500ms, transform 500ms; /*para transición*/
}

table:hover{
    transform: scale(1.09,1.09); /*para transición*/
}

tbody{
    background-color: white;
}

th{
    font-weight: bolder;
    font-size: 25px;
}

td{
    color: rgb(90, 89, 89);
    font-size: 22px;
    padding: 15px;
}

td:hover{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: gray;
    font-size: 40px;
}

a:hover{
    color: skyblue;
    text-decoration: underline;
}

#error{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 43px;
    color: #B22222;
    margin-top: 25%;
}